body{
  background-color: #dae4e9;
  box-sizing: border-box;
  padding: 20px;
  scroll-behavior: smooth;
  height: 100vh;
}
.general_container{
  background-color: #ebf0f3;
  display: block;
  margin: auto;
  margin-top: 3%;
  padding: 10px;
  width: 72%;
  height: auto;
  border-radius: 30px;
  
}


header{

  padding: 15px;
  padding-bottom: 25px;

  .logo{
    width: 40%;
  }
 
}


.searchWeather{

    input{
      width: 200px;
      border: 1px solid grey;
    
      &:hover{
      box-shadow: 0 0 5px #6c5ed6;
    }
  }

   .myButton{
      color: white;
      background-color: #6c5ed6;
      border-radius: 5px;
      width: 100%; 
      transition: 6ms ease-in-out;
      text-align: center;

      &:hover{
        cursor: pointer;
      }
  }

}


.complete_WeatherInfo{
 
  padding: 10px;

  .weatherInfo{
    margin-left: -10px ;

    .location{
      font-weight: 600;
      font-size: 3rem;
      color: #a0afb6;
    }
  }
  
  .cTemp{
   position: relative;
   left: 39px;
   top: 120px;
   font-size: 6rem;
   font-weight: 400;
   padding-bottom: 20px;
   color: #a0afb6;

   sup{
    font-size: 3rem;
    position: inherit;
    top: -40px;
    left: -15px;
   }
 }
  .info{
    opacity: 0.8;

    .weatherCondition, .value{
      color: #6c5ed6;
    }
  }
}

  .mainImage{
    img{
      width: 100px;
      height: auto;
      display: block;
      margin: 0 auto;
      position: relative;
      top: -20px;
    }
  }

 .weekly_Temp{
  opacity: 0.8;
  
  }
  
  .weekly_Temp{
    margin: 10px;
  }
 


 @media screen and (min-width: 840px){

  .general_container{
    width: 60%;
    height: 100vh;  
  }

  .complete_WeatherInfo{
     .weatherInfo{
      .location{
        font-size: 2rem;
        font-weight: 600;
        font-size: 4rem;
        margin-left: 20px;
      }
    }

      .info{
        margin-left: 20px;
      }

      .cTemp{
        left: 139px;
        top: 40px;
        font-size: 7rem; 
      }
    } 

      .searchWeather{
        input{
          width: 480px;    
        }

      .myButton{
          width: 100px; 
      }
    }

    .mainImage{
      img{
        width: 100px;
        left: 80px;
        top: -110px;
      }
    }

 }


